.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
}
.banner {
    padding: 0;
    margin: 0;
    width: 20rem;    
  }

.title{
    color: #F5F5F5;
    font-size: 4rem;    
    margin: 2rem 2rem 0 2rem;
}

.description{    
    color: aqua ;
    font-size: 1.5rem;
    font-weight: 100;    
    margin: 0;
}