.board{
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.column{    
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    align-items: center;            
}

.column-head{        
    padding: 1rem 1rem 2rem 1rem;
    width: 20rem; 
    height: 4vh;    
    margin:1rem 0.5rem 0 0.5rem;
    border-radius:10px 10px 0 0;
    background-color: #FAFAFA;
    border-bottom: solid #EDEDED 0.5px;
    font-weight: 800;
}

.column-title{
    padding: 1rem 1rem 0 0;
    margin: 0;    
}

.column-description{        
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0;
}

.column-body{    
    padding: 1rem;
    width: 20rem;    
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 0 0 10px 10px;
}

.card{        
    padding:1rem;
    margin: 0 0 0.5rem 0;
    min-height: 10vh;               
    border-radius: 5px;    
    -webkit-box-shadow: 9px 7px 5px rgba( 199, 199, 199, 0.5);
    -moz-box-shadow:    9px 7px 5px rgba( 199, 199, 199, 0.5);
    box-shadow:         9px 7px 5px rgba( 199, 199, 199, 0.5);        
    
}

.column-head:hover {
    background-color: #00FFFF;        
    
}

.column-body:hover {
    margin-top: -5px;
    border-top: 5px solid #00E6E6
}

.column-description:hover{
    opacity: 1;    

}